.box-3-inner {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.box-31 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.box-2-inner {
  align-self: stretch;
  position: relative;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  height: 4px;
}
.box-21 {
  position: absolute;
  width: 100%;
  top: 52px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.work1 {
  cursor: pointer;
}
.about-me1,
.contacts1,
.work1 {
  flex: 1;
  position: relative;
}
.about-me1 {
  text-align: center;
  cursor: pointer;
}
.contacts1 {
  text-align: right;
}
.box-11,
.header2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.box-11 {
  top: 16px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.header2 {
  top: 0;
  height: 56px;
}
.contact-img-icon {
  position: absolute;
  top: 163px;
  left: calc(50% - 10px);
  width: 174.68px;
  height: 174.68px;
  object-fit: cover;
}
.contacts-mobile {
  position: relative;
  background-color: var(--color-seashell);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
