.box-3-child {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.box-3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.box-2-child {
  align-self: stretch;
  position: relative;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  height: 4px;
}
.box-2 {
  position: absolute;
  width: 100%;
  top: 52px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.about-me,
.work {
  position: relative;
  cursor: pointer;
}
.work {
  flex: 1;
}
.about-me {
  text-align: center;
  display: inline-block;
  width: 358.67px;
  flex-shrink: 0;
}
.contacts {
  flex: 1;
  position: relative;
  text-align: right;
}
.box-1 {
  position: absolute;
  width: 100%;
  top: 12px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  position: relative;
  width: 1076px;
  height: 56px;
  z-index: 0;
}
.contact-img-icon {
  position: absolute;
  margin: 0 !important;
  top: 178.22px;
  left: 825.81px;
  width: 293.87px;
  height: 293.87px;
  object-fit: cover;
  z-index: 3;
}
.portfolio-3 {
  position: relative;
  background-color: var(--color-seashell);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-53xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
