.box-3-child {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.box-3 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.box-2-child {
  align-self: stretch;
  position: relative;
  border-top: 4px solid var(--color-black);
  box-sizing: border-box;
  height: 4px;
}
.box-2 {
  position: absolute;
  width: 100%;
  top: 52px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.about-me,
.contacts,
.work {
  flex: 1;
  position: relative;
}
.about-me,
.contacts {
  text-align: center;
  cursor: pointer;
}
.contacts {
  text-align: right;
}
.box-1,
.header {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.box-1 {
  top: 16px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.header {
  top: 0;
  height: 56px;
}
.main-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 337px;
  flex-shrink: 0;
  object-fit: cover;
}
.box .text {
  text-align: center;
}
.name-child {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: var(--color-black);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 31.36px;
}
.name-item {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 182px;
  height: 39.43px;
}
.check-projects {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 44px);
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.name {
  flex: 1;
  position: relative;
  height: 39px;
}
.name-inner {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: var(--color-forestgreen);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 31px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 182px;
  height: 39px;
}
.check-cv,
.name-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-cv {
  position: absolute;
  top: 12px;
  left: calc(50% - 52px);
  font-weight: 700;
  color: inherit;
  width: 103px;
  text-decoration: none;
}
.name-parent {
  width: 390px;
  flex-direction: row;
  gap: var(--gap-7xl);
}
.im-excited-to {
  margin: 0;
}
.label,
.text {
  position: relative;
}
.text {
  align-self: stretch;
  line-height: 24px;
}
.label {
  line-height: 16px;
}
.badge,
.box,
.main-parent {
  display: flex;
  align-items: center;
}
.badge {
  border-radius: var(--br-xl);
  background-color: var(--color-royalblue);
  border: 0.5px solid var(--color-white);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  justify-content: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.box,
.main-parent {
  flex-direction: column;
  justify-content: flex-start;
}
.box {
  align-self: stretch;
  padding: 0 var(--padding-5xs);
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.main-parent {
  position: absolute;
  width: 100%;
  top: 72px;
  right: 0;
  left: 0;
  gap: var(--gap-7xl);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.work-mobile {
  position: relative;
  background-color: var(--color-seashell);
  width: 100%;
  height: 1700px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}

.feedback-05-icon,
.feedback-06-icon {
  position: center;
  top: 0;
  left: 0;
  width: 184px;
  height: 121px;
  object-fit: cover;
}
.feedback-05-icon {
  left: 190px;
  width: 182px;
}
.feedback-01-icon,
.feedback-02-icon,
.feedback-03-icon,
.feedback-04-icon {
  position: center;
  top: 260px;
  left: 0;
  width: 184px;
  height: 121px;
  object-fit: cover;
}
.feedback-01-icon,
.feedback-02-icon,
.feedback-03-icon {
  top: 130px;
}
.feedback-01-icon,
.feedback-02-icon {
  left: 190px;
  width: 182px;
}
.feedback-01-icon {
  top: 260px;
  width: 184px;
}
.feedbackbox {
  align-self: stretch;
  position: relative;
  height: 381px;
}
.feedbackcontainer-mobile {
  position: relative;
  background-color: var(--color-seashell);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.feedbackbox {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 100%; /* adjust as needed */
  max-height: 230px; /* adjust as needed */
}

