.code4,
.label21 {
  line-height: 16px;
  font-weight: 500;
}
.code4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 374px;
}
.label21 {
  position: relative;
}
.badge-neutral19,
.badge-neutral20,
.badge-neutral21,
.badge-neutral22,
.badge-neutral23,
.badge-neutral24,
.badge-neutral25,
.badge-neutral26,
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  position: absolute;
  top: 32px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 0.5px solid var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
}
.badge-neutral20,
.badge-neutral21,
.badge-neutral22,
.badge-neutral23,
.badge-neutral24,
.badge-neutral25,
.badge-neutral26,
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  left: 91px;
  background-color: var(--color-royalblue);
}
.badge-neutral21,
.badge-neutral22,
.badge-neutral23,
.badge-neutral24,
.badge-neutral25,
.badge-neutral26,
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  left: 200px;
}
.badge-neutral22,
.badge-neutral23,
.badge-neutral24,
.badge-neutral25,
.badge-neutral26,
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  top: 66px;
  left: 0;
}
.badge-neutral23,
.badge-neutral24,
.badge-neutral25,
.badge-neutral26,
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  left: 70px;
  background-color: var(--color-black);
}
.badge-neutral24,
.badge-neutral25,
.badge-neutral26,
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  left: 150px;
}
.badge-neutral25,
.badge-neutral26,
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  left: 213px;
}
.badge-neutral26,
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  left: 272px;
}
.badge-neutral27,
.badge-neutral28,
.badge-neutral29 {
  top: 100px;
  left: 0;
}
.badge-neutral28,
.badge-neutral29 {
  left: 128px;
}
.badge-neutral29 {
  left: 190px;
}
.code-group {
  align-self: stretch;
  position: relative;
  height: 132px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
