.contact-box-child,
.contact-box-item {
  position: absolute;
  width: 97.5%;
  top: 8px;
  right: 1.25%;
  left: 1.25%;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 257px;
}
.contact-box-item {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border: 1px solid var(--color-black);
  height: 273px;
}
.box-2-child10,
.box-2-child8,
.box-2-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 297px;
  height: 40px;
}
.box-2-child10,
.box-2-child9 {
  top: 47px;
}
.box-2-child10 {
  top: 98px;
}
.kazarichukgmailcom {
  position: absolute;
  top: 60px;
  left: 82px;
  text-align: center;
}
.b,
.kazarichuk {
  position: absolute;
  top: 111px;
  left: 100px;
}
.kazarichuk {
  top: 13px;
  left: 112px;
}
.box-25 {
  position: absolute;
  top: 67px;
  left: calc(50% - 149px);
  width: 297px;
  height: 138px;
}
.contact-box {
  position: absolute;
  width: 100%;
  top: 286px;
  right: 0;
  left: 0;
  height: 273px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
