.design1 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.badge-neutral68,
.badge-neutral69 {
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 0.5px solid var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
}
.badge-neutral69 {
  background-color: var(--color-forestgreen);
}
.design-container,
.design-group,
.design2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.design-container,
.design-group {
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.design-group {
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
.badge-neutral68,
.badge-neutral69 {
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 0.5px solid var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease; /* Add this line for transition effect */
}

.badge-neutral68:hover,
.badge-neutral69:hover {
  transform: scale(1.1); /* Enlarge the element by 10% when hovered */
}

.badge-neutral69 {
  background-color: var(--color-forestgreen);
}
