.label58,
.management-support {
  line-height: 16px;
  font-weight: 500;
}
.management-support {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  width: 374px;
}
.label58 {
  position: relative;
}
.badge-neutral56 {
  border-radius: var(--br-xl);
  background-color: var(--color-royalblue);
  border: 0.5px solid var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
}
.badge-neutral-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.brainstorming {
  color: var(--color-gray);
}
.badge-neutral60 {
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 0.5px solid var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
}
.manage,
.manage1 {
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.manage1 {
  top: 140px;
}
.management-support-parent {
  align-self: stretch;
  position: relative;
  height: 206px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
