.projects {
  align-self: stretch;
}
.label13,
.projects {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.badge-neutral11,
.code2,
.projects-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.badge-neutral11 {
  border-radius: var(--br-xl);
  background-color: var(--color-black);
  border: 0.5px solid var(--color-white);
  padding: var(--padding-5xs) var(--padding-xs);
  justify-content: center;
}
.code2,
.projects-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.projects-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-helvetica-neue);
}
